* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#logo {
	color: red;
}

[class*=col] {
	background-color: lightgrey;
	border: 1px solid black;
}
*/


.ii {
    position: relative;
    bottom: 15px;
    left: 50%;
}

.iii{
    font-size: 35px;
    color: orange;
}


.navAlign {
    position: relative;
    top: 8px;
}



#form_container
{

    background: rgba(255,255,255,0.75);
}

#showContact
{
    background-color: #F4EAD5;
    background-size: cover;
    max-width: 700px;
}


#home{
    margin-right: 6px;
}

#about{
margin-right: 6px;
}



#row1 {
    margin-top: 55px;
}


#row1Col1 {
    min-width: 100px;
    overflow: hidden;
}

#row1Col2{

}



.clear {
    content: "";
    clear: both;
    display: block;
}




body {

    background: url(../images/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /*targets google chrome and safari web browser*/
    -moz-background-size: cover; /*mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover;
} 


#contentCard1 {
    border: 2px solid red;
    height: 100%;
    /*min-height: 100px;
    width: 100%;*/
    /*min-width: 100px;*/
    background-color: rgba(0,0,0,0.5);
    position: relative;
    /*margin-top: 40%;*/


}



#pic1 {

    position: absolute;
    top: 5%;
    left: 75%;
    border:2px solid white;
    width: 35%;
    min-width: 35%;
    max-height: 55%;


}

#pic2 {

    position: absolute;
    top: 5%;
    right: 75%;
    border:2px solid white;
    width: 35%;
    min-width: 35%;
    max-height: 55%;
}

#colCenterRight{
    padding-right: 60px;
}

#colCenterLeft{
    padding-left: 60px;
}


h1 {
    padding-top: 10%;
    padding-left: 35%;
    color: white;
    margin-bottom: 150px;


}

p {
    color: white;
    text-align: justify;
    /*font-size-adjust: */

}


h2 {
    color: white;
}


.navLeft {
    float: left;
    padding:0px;
    padding-top: 80px;
}

.liLeft {
    list-style: none;
    background-color: lightblue;
    margin-bottom: 2px;
    line-height: 30px; /*default of 16px * 3 to center the text vertically*/
    text-align: center;
    text-decoration: none;
    padding: 5px
}

ul > li > a {
    text-decoration: none;

}

ul {
    padding-left: 0;

}


footer {
    padding-top: 100px;
}


#facebook:hover {

}




.zoom:hover {
    transform: scale(1.5);

}

.hoverText {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.hoverText .hoverTextShow {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 99999;
    transform: translate(-55%, -55%);
}

.hoverText:hover .hoverTextShow {
    visibility: visible;

/*media queries*/

 /*Extra small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575.98px) { ... }*/

 /*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) and (max-width: 767.98px) { ... }*/

 /*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) and (max-width: 991.98px) { ... }*/

 /*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) and (max-width: 1199.98px) { ... }*/

 /*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/