* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#logo {
	color: red;
}

[class*=col] {
	background-color: lightgrey;
	border: 1px solid black;
}
*/

/*body {
    position: relative;
}*/


header {
    z-index: 9999;
}

#siteName {
    margin-top: 10px;
    color: white;
    /*font-weight: bold;*/
    font-family: star;
}


.ii {
    position: relative;
    bottom: 15px;
    left: 50%;
}

.iii{
    font-size: 1.5em;
    color: orange;
    padding-left: 15px;
    padding-right: 15px;
    /*display: inline-block;*/
}

#modalFont {
    color: black;
}


.navAlign {
    position: relative;
    top: 8px;
}

#footList {
    display: inline-block;
}


#form_container
{

    background: rgba(255,255,255,0.75);
}

#showContact
{
    background-color: #F4EAD5;
    background-size: cover;
    max-width: 700px;
}


#home{
    margin-right: 6px;
}

#about{
margin-right: 6px;
}



#row1 {
    margin-top: 55px;
}


#row1Col1 {
    min-width: 100px;
    overflow: hidden;
}

#row1Col2{

}



.clear {
    content: "";
    clear: both;
    display: block;
}




#portfolioBody {

    background: url(../images/bg.jpg) repeat center fixed;
    -webkit-background-size: cover; /*targets google chrome and safari web browser*/
    -moz-background-size: cover; /*mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover;
} 


#capsBody1stPage{
    background: url(../images/capsbg.jpg) no-repeat center fixed;
}

#generalContainer {

    background: url(../images/bgbg.gif) repeat;
    opacity: .085;
    position: absolute;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;

}



.bgbg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
}



#contentCard1 {
    border: 2px solid red;
    height: 100%;
    /*min-height: 100px;
    width: 100%;*/
    /*min-width: 100px;*/
    background-color: rgba(0,0,0,0.5);
    position: relative;
    /*margin-top: 40%;*/


}



#pic1 {

    position: absolute;
    top: 5%;
    left: 75%;
    border:2px solid white;
    width: 35%;
    min-width: 35%;
    max-height: 55%;


}

#pic2 {

    position: absolute;
    top: 5%;
    right: 75%;
    border:2px solid white;
    width: 35%;
    min-width: 35%;
    max-height: 55%;
}

#colCenterRight{
    padding-right: 60px;
}

#colCenterLeft{
    padding-left: 60px;
}


#portfolioH1 {
    padding-top: 10%;
    padding-left: 35%;
    color: white;
    margin-bottom: 150px;
}

p {
    color: white;
    text-align: justify;
    /*font-size-adjust: */

}


h2 {
    color: white;
}

.btn {
    color: red;
}


/*for button design*/

#clickMe{
    /*color: #d5402b;;*/
    position: relative;
    border:3px solid white;
    margin-left: 45%;
    margin-top: 10px;
    overflow: hidden;
}


#insideBtnTxt{
    color: white;
    font-weight: bold;
}

#insideBtnRight{
    float: left;
    position: absolute;
    top: -20px;
    right: -150px;
    transition: right 0.7s;
    width: 50px;
    height: 100px;
    background-color: white;
}

#insideBtnLeft{
    float: left;
    position: absolute;
    top: -20px;
    left: -150px;
    transition: left 0.7s;
    width: 50px;
    height: 100px;
    background-color: white;
}

#clickMe:hover #insideBtnRight{
    float: left;
    position: absolute;
    top: -20px;
    right: 150px;
    transition: right 0.7s;
    width: 50px;
    height: 100px;
    background-color: red;
}

#clickMe:hover #insideBtnLeft{
    float: left;
    position: absolute;
    top: -20px;
    left: 150px;
    transition: left 0.7s;
    width: 50px;
    height: 100px;
    background-color: red;
}

#clickMe:hover{
    /*color: #d5402b;;*/
    position: relative;
    border:3px solid red;
    background-color: white;
    margin-left: 45%;
    margin-top: 10px;
    overflow: hidden;
}

#clickMe:hover #insideBtnTxt{
    color: red;
    font-weight: bold;
}

/*end of button design*/






.navLeft {
    float: left;
    padding:0px;
    padding-top: 80px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    left: -55px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

}


.navLeft:hover {
    opacity: 1;
    left: -1px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

}



.liLeft {
    list-style: none;
    background-color: lightblue;
    margin-bottom: 2px;
    line-height: 30px; 
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

a {
    text-decoration: none;

}



ul {
    padding-left: 0;

}



#footer-icons {
margin: 0 auto;

}

.zoom:hover .iii {
    transform: scale(1.5);
    color: yellow;
}


.hoverText {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}





.hoverText .hoverTextShow {
    visibility: hidden;
    width: 100px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 99999;
    transform: translate(-77%, -140%);
}

.hoverText:hover .hoverTextShow {
    visibility: visible;
}



/*capstone*/


video {
    width: 100%;
    height: 80%;
    object-fit: fill;
}


/*fonts*/

@font-face {
    font-family: "star";
    src: url(../fonts/sw.ttf);

}



#out-of-this-world1 {
    font-family: "star";
    color: white;
    font-size: 6em;
    text-align: center;
}
#out-of-this-world2 {
    font-family: "star";
    color: white;
    font-size: 3em;
    text-align: center;
}

/*#click-me-to-start{
    font-family: "star";
    color: white;
    font-size: 2em;
    text-align: center;
}*/

#solar-system-card{
    border:2px solid black;
}

#sscont{
    position: relative;
    top: 10px;
}

#solar-system{
    width: 100%;
}

#sunSS {
    position: absolute;
    width: 25%;
    height: 367px;
    top: 38%;
    left: 44.5%;
    background-color: rgba(255,255,255,0.0);
}

#planetHoverNameSun {
    position: absolute;
    top: 34%;
    left: 58%;
    color: white;
    font-size: 20px;
    display: none;
}

#sunSS:hover #planetHoverNameSun {
    display: block;
}

#moonSS {
    position: absolute;
    top: 49.5%;
    left: 86.9%;
    width: 1.6%;
    height: auto;
}

#planetHoverNameMoon {
    position: absolute;
    top: 44.4%;
    left: 85.8%;
    color: white;
    font-size: 20px;
    display: none;
}

#moonSS:hover{
    transform: scale(1.7);
}

#moonSS:hover + #planetHoverNameMoon{
    display: block;
}

#mercurySS {
    position: absolute;
    top: 61.3%;
    left: 70.2%;
    width: 2.1%;
    height: auto;
}

#planetHoverNameMercury {
    position: absolute;
    top: 55.5%;
    left: 69%;
    color: white;
    font-size: 20px;
    display: none;
}

#mercurySS:hover{
    transform: scale(1.7);
}


#mercurySS:hover + #planetHoverNameMercury{
    display: block;
}

#venusSS {
    position: absolute;
    top: 55.2%;
    left: 76.5%;
    width: 4%;
    height: auto;
}

#planetHoverNameVenus {
    position: absolute;
    top: 49%;
    left: 76.5%;
    color: white;
    font-size: 20px;
    display: none;
}

#venusSS:hover{
    transform: scale(1.7);
}

#venusSS:hover + #planetHoverNameVenus{
    display: block;
}


#earthSS {
    position: absolute;
    top: 49.5%;
    left: 83%;
    width: 4.1%;
    height: auto;
}

#planetHoverNameEarth {
    position: absolute;
    top: 43%;
    left: 83.5%;
    color: white;
    font-size: 20px;
    display: none;
}

#earthSS:hover{
    transform: scale(1.7);
}

#earthSS:hover + #planetHoverNameEarth{
    display: block;
}


#marsSS {
    position: absolute;
    top: 41.2%;
    left: 90.5%;
    width: 3.5%;
    height: auto;
}


#planetHoverNameMars {
    position: absolute;
    top: 34.5%;
    left: 90.5%;
    color: white;
    font-size: 20px;
    display: none;
}

#marsSS:hover{
    transform: scale(1.7);
}

#marsSS:hover + #planetHoverNameMars{
    display: block;
}

#jupiterSS {
    position: absolute;
    top: 16.9%;
    left: 33.5%;
    width: 6.7%;
    height: auto;
}

#planetHoverNameJupiter {
    position: absolute;
    top: 7%;
    left: 34.2%;
    color: white;
    font-size: 20px;
    display: none;
}

#jupiterSS:hover + #planetHoverNameJupiter{
    display: block;
}

#jupiterSS:hover{
    transform: scale(1.7);
}

#saturnSS {
    position: absolute;
    top: 10.9%;
    left: 23.8%;
    width: 9.7%;
    height: auto;
}

#planetHoverNameSaturn {
    position: absolute;
    top: 5%;
    left: 26%;
    color: white;
    font-size: 20px;
    display: none;
}

#saturnSS:hover + #planetHoverNameSaturn{
    display: block;
}

#saturnSS:hover{
    transform: scale(1.2);
}


#uranusSS {
    position: absolute;
    top: 8%;
    left: 19.8%;
    width: 3.7%;
    height: auto;
}

#planetHoverNameUranus {
    position: absolute;
    top: 5%;
    left: 19.2%;
    color: white;
    font-size: 20px;
    display: none;
}

#uranusSS:hover{
    transform: scale(1.2);
}

#uranusSS:hover + #planetHoverNameUranus{
    display: block;
}


#neptuneSS {
    position: absolute;
    top: 9.2%;
    left: 14.9%;
    width: 3.2%;
    height: auto;
}

#planetHoverNameNeptune {
    position: absolute;
    top: 2.5%;
    left: 13.5%;
    color: white;
    font-size: 20px;
    display: none;
}

#neptuneSS:hover{
    transform: scale(1.5);
}

#neptuneSS:hover + #planetHoverNameNeptune{
    display: block;
}


#plutoSS {
    position: absolute;
    top: 9.8%;
    left: 3%;
    width: 1.5%;
    height: auto;
}

#planetHoverNamePluto {
    position: absolute;
    top: 4%;
    left: 2.3%;
    color: white;
    font-size: 20px;
    display: none;
}

#plutoSS:hover{
    transform: scale(2);
}

#plutoSS:hover + #planetHoverNamePluto{
    display: block;
}






/*per page*/

#planetName{
    padding-left: 15px;
    color: white;
    font-family: star;
    
}


.navRightPlanet {
    float: right;
    padding:0px;
    margin-top: 50px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    right: -80px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
}


.navRightPlanet:hover {
    opacity: 1;
    right: -1px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    color: white;
    font-weight: bold;
}

.liRight:hover{
    transform: scale(1.2);
    border:3px solid black;
}


.liRight {
    list-style: none;
    background-color: lightblue;
    margin-bottom: 2px;
    line-height: 30px; 
    text-align: left;
    text-decoration: none;
    padding: 3px;
    width: 130px;
}

.liRight > a > img {
    width: 40px;
}

#planetContaner{
    min-height: 300px;
}

#planetimg{
    height: 490px;
}

#capsBodyPlanet{
    /*background: rgb(0,0,0);*/
    background: url(../images/capsbg2.jpg) fixed;
    -webkit-background-size: cover; /*targets google chrome and safari web browser*/
    -moz-background-size: cover; /*mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover;
}

#planetBig{
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    width: 70%;
}

table{
    color: white;


}

tr {
    text-align: left;

}

td  {
        border: 2px solid white;
        padding: 5px;
        background-color: rgba(0,0,0,0.7);
    }

td > ul > li {
    list-style-type: none;
}


footer {
    margin-top: 20%;
}


dt {
    color: white;
    font-size: 20px;
    /*background-color: grey;*/
}

dd {
    text-indent: 30px;
    color: white;
    text-align: justify;
}


#didYouKnowIcon {
    width: 50px;
    margin-bottom: 15px;
}

#sunSSS,
#moonSSS,
#mercurySSS,
#venusSSS,
#earthSSS,
#marsSSS,
#jupiterSSS,
#saturnSSS,
#uranusSSS,
#neptuneSSS,
#plutoSSS,
#planetNamePhoneSection,
#planetNamePhone {
    display: none;
}


/*iphone4*/
@media (min-width: 220px) and (max-width: 450px) {

    #solarsystem {
        display: none;
    }

    #planetNamePhoneSection{
        display: block;
    }

    
    #planetNamePhone {
        margin-top: 40px;
        color: white;
        font-family: star;
        display: block;
    }


    #siteName{
        font-size: 13px;
    }

    .navbar-toggler{
        width: 45px;
        height:25px;
        padding: 0;
    }

    .navbar-toggler-icon{
        width: 20px;
        height:20px;
        margin-bottom: 3px;
    }

   
   .navRightPlanet {
        margin-top: -50px;
        float: right;
        /*margin: 0;*/
        position: fixed;
        z-index: 999;
        opacity: 0.3;
        right: -90px;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;
        font-size: 20px;
        line-height: 10px;
        transform: scale(0.5);
    }

        .navRightPlanet:hover { /*:hover*/
        opacity: 1;
        right: -40px;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;
        color: white;
        font-weight: bold;
    }   

    .liRight {
        list-style: none;
        background-color: lightblue;
        margin-bottom: 2px;
        line-height: 30px; 
        text-align: left;
        text-decoration: none;
        padding: 3px;
        width: 150px;
    }

    #planetimg {
        height: 370px;
    }

    table{
        color: white;
        font-size: 10px;

    }

    h3 {
        font-size: 1rem;
    }

    video {
        display: none;
    }

    #out-of-this-world2 {
        font-size: 30px;
        margin-top: 5px;
    }
    #out-of-this-world1 {
        font-size: 35px;
    }

    #clickMe{
    position: relative;
    border:3px solid white;
    margin-left: 25%;
    margin-top: 10px;
    overflow: hidden;
    }

    #clickMe:hover{
    position: relative;
    border:3px solid red;
    background-color: white;
    margin-left: 25%;
    margin-top: 10px;
    overflow: hidden;
    }


    #sunSS,
    #moonSS, 
    #mercurySS,
    #venusSS,
    #earthSS,
    #marsSS,
    #jupiterSS,
    #saturnSS,
    #uranusSS,
    #neptuneSS,
    #plutoSS {
        display: none;
    }


    #sunSSS {
        display: block;
        width: 100%;
    }

    #moonSSS{
        display: block;
        width: 100%;
    }

    #mercurySSS{
        display: block;
        width: 100%;
    }

    #venusSSS{
        display: block;
        width: 100%;
    }

    #earthSSS{
        display: block;
        width: 100%;
    }
    #marsSSS{
        display: block;
        width: 100%;
    }
    #jupiterSSS{
        display: block;
        width: 100%;
    }
    #saturnSSS{
        display: block;
        width: 100%;
    }
    #uranusSSS{
        display: block;
        width: 100%;
    }
    #neptuneSSS{
        display: block;
        width: 100%;
    }
    #plutoSSS{
        display: block;
        width: 100%;
    }

    footer {
        margin-top: 78%;
    }



} /*end of media query*/





/*iphone4 landscpe*/

@media only screen and (min-device-width: 480px) and (max-device-width: 701px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

    #solarsystem {
        display: none;
    }

    #planetNamePhoneSection{
        display: block;
        /*transform: scale(0.6);*/
    }

    
    #planetNamePhone {
        margin-top: 40px;
        color: white;
        font-family: star;
        display: block;        
    }

    #planet-description {
        margin-top: 20%;
    }


    #siteName{
        font-size: 13px;
    }

    .navbar-toggler{
        width: 45px;
        height:25px;
        padding: 0;
    }

    .navbar-toggler-icon{
        width: 20px;
        height:20px;
        margin-bottom: 3px;
    }

   
   .navRightPlanet {
        margin-top: -50px;
        float: right;
        /*margin: 0;*/
        position: fixed;
        z-index: 999;
        opacity: 0.3;
        right: -90px;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;
        font-size: 20px;
        line-height: 10px;
        transform: scale(0.3);
    }

        .navRightPlanet:hover { /*:hover*/
        opacity: 1;
        right: -40px;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;
        color: white;
        font-weight: bold;
    }   

    .liRight {
        list-style: none;
        background-color: lightblue;
        margin-bottom: 2px;
        line-height: 30px; 
        text-align: left;
        text-decoration: none;
        padding: 3px;
        width: 150px;
    }

    #planetimg {
        height: 370px;
    }

    table{
        color: white;
        font-size: 10px;

    }

    h3 {
        font-size: 1rem;
    }

    video {
        display: none;
    }

    #out-of-this-world2 {
        font-size: 30px;
        margin-top: 5px;
    }
    #out-of-this-world1 {
        font-size: 35px;
    }

    #clickMe{
    position: absolute;
    border:3px solid white;
    /*margin-left: 143px;*/
    margin-left: 30%;
    margin-top: 10px;
    overflow: hidden;
    }

    #clickMe:hover{
    position: absolute;
    border:3px solid red;
    background-color: white;
    margin-left: 30%;
    margin-top: 10px;
    overflow: hidden;
    }


    #sunSS,
    #moonSS, 
    #mercurySS,
    #venusSS,
    #earthSS,
    #marsSS,
    #jupiterSS,
    #saturnSS,
    #uranusSS,
    #neptuneSS,
    #plutoSS {
        display: none;
    }


    #sunSSS {
        display: block;
        width: 65%;
    }

    #moonSSS{
        display: block;
        width: 65%;
    }

    #mercurySSS{
        display: block;
        width: 65%;
    }

    #venusSSS{
        display: block;
        width: 65%;
    }

    #earthSSS{
        display: block;
        width: 65%;
    }
    #marsSSS{
        display: block;
        width: 65%;
    }
    #jupiterSSS{
        display: block;
        width: 65%;
    }
    #saturnSSS{
        display: block;
        width: 65%;
    }
    #uranusSSS{
        display: block;
        width: 65%;
    }
    #neptuneSSS{
        display: block;
        width: 65%;
    }
    #plutoSSS{
        display: block;
        width: 65%;
    }


    .navRightPlanet {
    float: right;
    padding:0px;
    margin-top: -120px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    right: -80px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    transform: scale(0.4);
    }

} /*end of iphone 4 landscape*/







/*ipad portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

footer {
    margin-top: 53%;
}


#plutoSS {
    position: absolute;
    top: 10.1%;
    left: 3.5%;
    width: 1.5%;
    height: auto;
}

#neptuneSS {
    position: absolute;
    top: 9%;
    left: 15.8%;
    width: 3.2%;
    height: auto;
    }

#uranusSS {
    position: absolute;
    top: 8%;
    left: 20.8%;
    width: 3.7%;
    height: auto;
}

#mercurySS {
    position: absolute;
    top: 61.5%;
    left: 70%;
    width: 1.9%;
    height: auto;
}

#venusSS {
    position: absolute;
    top: 55.4%;
    left: 76%;
    width: 4%;
    height: auto;
}

#earthSS {
    position: absolute;
    top: 49.5%;
    left: 82%;
    width: 4.1%;
    height: auto;
}

#moonSS {
    position: absolute;
    top: 49.5%;
    left: 86%;
    width: 1.6%;
    height: auto;
}

#marsSS {
    position: absolute;
    top: 41%;
    left: 89.6%;
    width: 3.5%;
    height: auto;
}

.navRightPlanet {
    float: right;
    padding:0px;
    margin-top: 110px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    right: -80px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
}

#clickMe{
    position: absolute;
    border:3px solid white;
    /*margin-left: 143px;*/
    margin-left: 37%;
    margin-top: 10px;
    overflow: hidden;
    }

    #clickMe:hover{
    position: absolute;
    border:3px solid red;
    background-color: white;
    margin-left: 37%;
    margin-top: 10px;
    overflow: hidden;
    }



} /*end of ipad portrait*/


/*ipad landscape*/
@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

footer {
    margin-top: 7%;
}


#mercurySS {
    position: absolute;
    top: 61.4%;
    left: 70.2%;
    width: 1.9%;
    height: auto;
}

#venusSS {
    position: absolute;
    top: 55.4%;
    left: 76.3%;
    width: 4%;
    height: auto;
}

#earthSS {
    position: absolute;
    top: 49.5%;
    left: 82.5%;
    width: 4.1%;
    height: auto;
}

#moonSS {
    position: absolute;
    top: 49.6%;
    left: 86.7%;
    width: 1.6%;
    height: auto;
}

#marsSS {
    position: absolute;
    top: 40.9%;
    left: 89.9%;
    width: 3.5%;
    height: auto;
}

#jupiterSS {
    position: absolute;
    top: 16.9%;
    left: 33.5%;
    width: 6.7%;
    height: auto;
}

#saturnSS {
    position: absolute;
    top: 10.9%;
    left: 23.8%;
    width: 9.7%;
    height: auto;
}

#uranusSS {
    position: absolute;
    top: 8%;
    left: 19.8%;
    width: 3.7%;
    height: auto;
}

#neptuneSS {
    position: absolute;
    top: 9.2%;
    left: 15%;
    width: 3.2%;
    height: auto;
}

#plutoSS {
    position: absolute;
    top: 10%;
    left: 2.9%;
    width: 1.5%;
    height: auto;
}  

.navRightPlanet {
    float: right;
    padding:0px;
    margin-top: 90px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    right: -80px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
}

#clickMe{
    position: absolute;
    border:3px solid white;
    /*margin-left: 143px;*/
    margin-left: 40%;
    margin-top: 10px;
    overflow: hidden;
    }

    #clickMe:hover{
    position: absolute;
    border:3px solid red;
    background-color: white;
    margin-left: 40%;
    margin-top: 10px;
    overflow: hidden;
    }

    footer {
        margin-top: 20%;
    }


} /*end of ipad landscape*/













/*wide screen*/

@media (min-width: 1441px) and (max-width: 1920px) {



#planet-description {
    margin-top: 35%;
}

.navRightPlanet {
    float: right;
    padding:0px;
    margin-top: 200px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    right: -80px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
}

#planetHoverNameSun {
    position: absolute;
    top: 41%;
    left: 58%;
    color: white;
    font-size: 20px;
    display: none;
}

#sunSS:hover #planetHoverNameSun {
    display: block;
}


#mercurySS {
    position: absolute;
    top: 61.5%;
    left: 70.5%;
    width: 1.9%;
    height: auto;
}

#planetHoverNameMercury {
    position: absolute;
    top: 56.5%;
    left: 69.3%;
    color: white;
    font-size: 20px;
    display: none;
}

#mercurySS:hover #planetHoverNameMercury {
    display: block;
}

#venusSS {
    position: absolute;
    top: 55.4%;
    left: 76.7%;
    width: 4%;
    height: auto;
}

#planetHoverNameVenus {
    position: absolute;
    top: 49%;
    left: 77%;
    color: white;
    font-size: 20px;
    display: none;
}

#venusSS:hover #planetHoverNameVenus {
    display: block;
}

#earthSS {
    position: absolute;
    top: 49.5%;
    left: 83.0%;
    width: 4.1%;
    height: auto;
}

#planetHoverNameEarth {
    position: absolute;
    top: 43%;
    left: 83.7%;
    color: white;
    font-size: 20px;
    display: none;
}

#earthSS:hover #planetHoverNameEarth {
    display: block;
}

#moonSS {
    position: absolute;
    top: 49.5%;
    left: 87%;
    width: 1.6%;
    height: auto;
}

#planetHoverNameMoon {
    position: absolute;
    top: 44.5%;
    left: 86.5%;
    color: white;
    font-size: 20px;
    display: none;
}

#moonSS:hover #planetHoverNameMoon {
    display: block;
}

#marsSS {
    position: absolute;
    top: 41%;
    left: 90.6%;
    width: 3.5%;
    height: auto;
}

#planetHoverNameMars {
    position: absolute;
    top: 35.5%;
    left: 91.2%;
    color: white;
    font-size: 20px;
    display: none;
}

#marsSS:hover #planetHoverNameMars {
    display: block;
}

#jupiterSS {
    position: absolute;
    top: 16.9%;
    left: 33.3%;
    width: 6.7%;
    height: auto;
}

#planetHoverNameJupiter {
    position: absolute;
    top: 8.5%;
    left: 35.2%;
    color: white;
    font-size: 20px;
    display: none;
}

#jupiterSS:hover #planetHoverNameJupiter {
    display: block;
}

#saturnSS {
    position: absolute;
    top: 10.9%;
    left: 23.6%;
    width: 9.7%;
    height: auto;
}

#planetHoverNameSaturn {
    position: absolute;
    top: 7%;
    left: 27.2%;
    color: white;
    font-size: 20px;
    display: none;
}

#saturnSS:hover #planetHoverNameSaturn {
    display: block;
}

#uranusSS {
    position: absolute;
    top: 8%;
    left: 19.8%;
    width: 3.7%;
    height: auto;
}

#planetHoverNameUranus {
    position: absolute;
    top: 6%;
    left: 20.2%;
    color: white;
    font-size: 20px;
    display: none;
}

#uranusSS:hover #planetHoverNameUranus {
    display: block;
}


#neptuneSS {
    position: absolute;
    top: 9%;
    left: 14.8%;
    width: 3.2%;
    height: auto;
}

#planetHoverNameNeptune {
    position: absolute;
    top: 4.5%;
    left: 14.5%;
    color: white;
    font-size: 20px;
    display: none;
}

#neptuneSS:hover #planetHoverNameNeptune {
    display: block;
}

#plutoSS {
    position: absolute;
    top: 10.1%;
    left: 2.5%;
    width: 1.5%;
    height: auto;
}

#planetHoverNamePluto {
    position: absolute;
    top: 5%;
    left: 2.3%;
    color: white;
    font-size: 20px;
    display: none;
}

#plutoSS:hover #planetHoverNamePluto {
    display: block;
}


} /*end of wide screen*/



@media (min-width: 1080px) and (max-width: 1200px) {

#planet-description {
    margin-top: 7%;
}

.navRightPlanet {
    float: right;
    padding:0px;
    margin-top: 300px;
    position: fixed;
    z-index: 9999;
    opacity: 0.3;
    right: -80px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
}

footer {
    /*position: relative;*/
    margin-top: 38%;
}



    }