* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#logo {
	color: red;
}

[class*=col] {
	background-color: lightgrey;
	border: 1px solid black;
}
*/


i {
    position: relative;
    bottom: 15px;
    left: 50%;
}


.navAlign {
    position: relative;
    top: 8px;
}



#form_container
{

    background: rgba(255,255,255,0.75);
}

.card
{
    background-color: #F4EAD5;
    background-size: cover;
    max-width: 700px;
}


#home{
    margin-right: 6px;
}

#about{
margin-right: 6px;
}








/*media queries*/

 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { ... }

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }